.table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 50%, transparent 65%);
    display: flex;
    align-items: center;
    justify-content: center;
    contain: strict;

    .rotationIndicator {
        width: 60%;
        height: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        transition: opacity .3s cubic-bezier(0.4, 0.0, 0.2, 1);
        transform-origin: center;

        &.none {
            opacity: 0;
        }

        &.clockwise {
            opacity: 1;    

            &:before {
                border-top-color: transparent;
            }

            .arrow {
                &:first-child {
                    transform: translate(2.5px, -20px);
                }
                &:last-child {
                    transform: translate(-2.5px, 20px);
                }
            }

            :global .quality-high :local & {
                animation: rotate-clockwise 10s linear;
                animation-iteration-count: infinite;    
            }

            :global .quality-low :local & {
                transform: translateZ(0);
            }
        }
        
        &.counterClockwise {
            opacity: 1;    

            &:before {
                border-top-color: transparent;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            .arrow {
                &:first-child {
                    transform: rotate(180deg) translate(-2.5px, -20px);
                }
                &:last-child {
                    transform: rotate(180deg) translate(2.5px, 20px);
                }
            }

            :global .quality-high :local & {
                animation: rotate-counter-clockwise 10s linear;
                animation-iteration-count: infinite;  
            }

            :global .quality-low :local & {
                transform: translateZ(0);
            }
        }

        &:before {
            content: "";
            border: 4px dashed rgba(255, 255, 255, .1);
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform-origin: center;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            box-sizing: border-box;

            border-top-color: transparent;
            border-bottom-color: transparent;
        }

        .arrow {
            border: 20px solid transparent;
            border-radius: 8px;

            &:first-child {
                border-bottom-color: rgba(255, 255, 255, .1);
            }
            &:last-child {
                border-top-color: rgba(255, 255, 255, .1);
            }
        }
    }
}

@keyframes rotate-clockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate-counter-clockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.nameTag {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
    
    .background {
        border-radius: 50%;
        border: 3px solid white;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
    }

    span {
        font-weight: bold;
        color: white;
        text-align: center;
        z-index: 2;
    }

    &.active {
        .indicator {
            position: absolute;
            top: 0;
            left: 0;
            background: white;
            opacity: 1;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: 0;
            transform-origin: center;

            :global .quality-high :local & {
                animation: pulse 1.3s ease-out;
                animation-iteration-count: infinite;
            }

            :global .quality-low :local & {
                transform: scale(1.2);
                background: rgba(255, 0, 0, .4);
            }
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: .8;
    }
    66% {
        transform: scale(1.4);
        opacity: .0;
    }
    100% {
        transform: scale(1.4);
        opacity: .0;
    }
}

.startButton {
    width: 10vw;
    height: 10vw;
    min-width: 120px;
    min-height: 120px;
    position: absolute;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 4px solid white;
    background: none;
    color: white;
    font-weight: lighter;
    font-size: 2rem;
    transition: background-color .1s cubic-bezier(0.4, 0.0, 0.2, 1);
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;

    &.visible {
        opacity: 1;
        pointer-events: all;
    }

    .title {
        font-size: 7rem;
        font-weight: bold;
        color: white;
        text-align: center;
        
        &:last-of-type {
            margin-bottom: 2rem;
        }
    }

    a {
        color: #fff;
        font-size: 1.5rem;
        border: 2px solid white;
        border-radius: 5px;
        padding: 8px;
        text-decoration: none;
    }

    .sub {
        color: #fff;
        font-size: 1.5rem;
    }

    :global .quality-high :local & {
        backdrop-filter: blur(8px);
        transition: opacity .3s cubic-bezier(0.4, 0.0, 0.2, 1);
        background: rgba(0, 0, 0, .5);
    }

    :global .quality-low :local & {
        background: rgba(0, 0, 0, .75);
    }
}

.hud {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;

    .name {
        color: white;
        padding: 8px 12px;
        z-index: 1;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .input {
            margin-left: 4px;
            flex-grow: 1;
            background: rgba(0, 0, 0, .1);
            border: none;
            border-radius: 3px;
            padding: 8px;
            color: white;
            margin-left: 16px;
            box-shadow: inset 0 3px 1px -2px rgba(0,0,0,.2), inset 0 2px 2px 0 rgba(0,0,0,.14), inset 0 1px 5px 0 rgba(0,0,0,.12);

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #ffffff;
                opacity: .8; /* Firefox */
            }
        }
    }
}

.chat {
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(8px);
    border-top-right-radius: 6px;
    min-width: 250px;
    max-width: 450px;
    width: 25vw;
    z-index: 0;
    box-sizing: border-box;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .messages {
        height: 200px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        color: white;
        padding: 12px;
    }

    .message {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 8px;
    }
    
    .chatName {
        font-weight: bold;
        margin-right: 4px;
    }

    .text {
        flex-grow: 1;
        width: 0;
        margin: 0;
        padding: 0;
        word-break: break-all;
    }
}

.emptyStack {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 110px;
    height: 150px;
    border-radius: 8px;
    border: 10px dashed #000;
    box-sizing: border-box;
    opacity: 0.2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    span {
        font-weight: bold;
        font-size: 80px;
    }
}

.effectIndicatorContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;

    &.button,
    &.multipleChoice {
        pointer-events: all;
    }

    &.multipleChoice {
        button {
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            width: 20%;
            height: 20%;
            background: transparent;
            border: none;
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            transition: transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);
            pointer-events: none;
            span {
                font-size: 55px;
            }
    
            &:not([disabled]) {
                cursor: pointer;
            }
        }
    }

    &.button {
        button {
            border-radius: 50%;
            width: 70%;
            height: 70%;
            background: white;
            border: none;
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            font-size: 4rem;
            cursor: pointer;
            opacity: .8;
            transition: transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);

            &:hover {
                transform: scale(1.05);
                opacity: .95;
            }
        }

        .effectIndicator.visible {
            transform: translate(-50%, -50%) scale(.60) rotate(0deg);
        }
    }
}

.effectIndicator {
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0) rotate(80deg);
    color: white;
    padding: 20px;
    border-radius: 50%;
    font-size: 13rem;
    opacity: 0;
    will-change: transform;

    .background {
        background: white;
        border-radius: 50%;
        width: 50%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.visible {
        transform: translate(-50%, -50%) scale(1) rotate(0deg);
        opacity: 1;

        &.constant {
            transform: translate(-50%, -50%) scale(.25) rotate(0deg);
        }
    }

    .multipleChoiceBackground {
        border-radius: 50%;
        width: 70%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 100%;
            height: 100%;
            overflow: visible;

            path {
                cursor: pointer;
                transition: transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);

                &:hover {
                    transform: scale(1.05);
                    opacity: .95;
                }

                :global .quality-high :local & {
                    opacity: .8;
                }

                :global .quality-low :local & {
                    opacity: 1;
                }
            }
        }
    }

    .arrowContainer {
        width: 90%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: flex-end;
        transform-origin: center;
        pointer-events: none;
    }

    .arrow {
        border: 30px solid transparent;
        border-left-color: white;


        :global .quality-high :local & {
            animation: bounce .8s ease-in-out;
            animation-iteration-count: infinite;
        }
    }

    .arrow {
        opacity: .9;
    }

    :global .quality-high :local & {
        background: radial-gradient(rgba(0, 0, 0, .26) 0%, rgba(0, 0, 0, .26) 30%, transparent 90%, transparent 100%);
        transition: opacity .4s cubic-bezier(0.4, 0.0, 0.2, 1), transform .4s cubic-bezier(0.4, 0.0, 0.2, 1);
        backdrop-filter: blur(5px);
    }

    :global .quality-low :local & {
        background: rgba(0, 0, 0, .4);
    }
}

@keyframes bounce {
    0% {
        transform: translateX(8px);
    }
    50% {
        transform: translateX(-8px);
    }
    100% {
        transform: translateX(8px);
    }
}