html {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    background:  linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .26) 100%), radial-gradient(#2a9a44, #1a5527);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .sub {
        color: #fff;
        font-size: 1.5rem;
    }
    
    button {
        color: #fff;
        font-size: 1.5rem;
        border: 2px solid white;
        border-radius: 5px;
        padding: 8px;
        text-decoration: none;
        background: transparent;
        width: 100%;
        margin-bottom: .5rem;
        transition: background .2s cubic-bezier(0.4, 0.0, 0.2, 1), color .2s cubic-bezier(0.4, 0.0, 0.2, 1);
        max-width: 220px;

        &.room {
            display: flex;
            justify-content: space-between;
        }

        &:not(:disabled):hover {
            background: white;
            color: #289341;
            cursor: pointer;
        }

        &:disabled {
            opacity: .7;
        }

        &.game {
            span {
                display: inline-block;
            }

            span:first-child {
                width: 100%;
            }
            span:nth-child(2) {
                margin-right: 8px;
            }
        }
    }

    input {
        margin-bottom: 1rem;
        border-radius: 5px;
        padding: 8px;
        font-size: 1.5rem;
        max-width: 220px;
        min-width: 0;
    }
}

.title {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}